@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yuji+Mai&display=swap');

.work-sans-font{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
section{
    margin-top: 100px;
}
.text-grey{
    color: #424242;
}
.text-light-grey{
    color: #727272;
}
.experience-button{
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    padding: 45px 40px;
    border: none;
    margin-top: -100px;
    margin-left: -100px;
}
.love-enjoy{
    gap: 130px;
}
.ten{
    font-size: 4rem;
    font-weight: 800px;
   
}
.bg-primery{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    font-size: 1.25rem;
    font-weight: 700;
    padding: 20px 25px;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    border: none;
}
.main{
    max-width: 1440px;
    margin: 0 auto;
}
.feature-heading{
    font-size: 3rem;
    }
    #quick{
        font-weight: 600;
        color: #727272;
    }
    #feature{
        color: #FF900E;
        font-weight: 800;
    }


/* header style */

/* navbar related style */
.nav-item{
    list-style: none;
    margin-right: 20px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand-name{
    font-weight: 700px;
    font-size: 2.5rem;
}
/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-img{
    width: 100%;
    margin: 0 auto;
}
/* section one styles */

.img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.architect-teams{
    align-items: center;
    justify-content: center;
    }
    .feature-container{
        margin-left: 70px;
    }
    /* section two styles */
    .img-btn > img{
        width: 100%;
        margin: 0 auto;
    }
    .card-container{
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(4,1fr) ;
        }
    .card{
        border: 1px solid #FF900E;
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        border-radius: 8px;

    }
    .card-name{
        margin: 5px auto;
        font-size: 1.20rem;
        font-weight: 500;
        color: #727272;
    }
    .card-number{
        margin: 5px auto;
        font-size: 3rem;
        font-weight: 500;
        }
    #head-sec-two{
        font-size: 3rem;
}
/* sponsor styles */
.sponsor{
    text-align: center;
    margin: 60px auto;
}
.sponsor-heading{
    font-size: xx-large;
}
.sponsor-pic{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-bottom: 60px;
    filter: grayscale(100%);
}
.footer{
    display: flex;
    text-align: center;
    width: 60%;
    height: 100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
#head{
    border-left:5px solid #FF900E;
}
.love-card{
    padding: 25px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 5px rgb(183, 178, 178);
}
@media screen and (max-width:576px){
    .navbar, 
    .nav-links,
    .architect-teams,
    .love-enjoy{
        flex-direction: column;
    }
    .img-container,
    .card-container,
    .sponsor-pic{
        grid-template-columns: repeat(1,1fr);
    }
    .img-btn button{
        margin: 0 auto;
    }
    
}